<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vsdapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

        <activity
            android:name=".navigationMenu.NavigationActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".editMode.EditModeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".gallery.GalleryActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".readMode.ReadModeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
    </application>

</manifest>